<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
<script>
   
    var mymodule = angular.module("kuchModule", []);

      mymodule.controller("kuchController", function ($scope, $http) {
        $scope.jsonArray = [];

        $scope.doFetchings = function () {
          var url = "/do-fetch-all-userings";

         
          $http.get(url).then(allGoodFx, someBadFx);
          function allGoodFx(response) {
            //resp in JSON array
            alert(JSON.stringify(response.data));
            $scope.jsonArray = response.data;
          }

          function someBadFx(response) {
            alert(JSON.stringify(response.data));
          }
        };
        //----------------------
       
      
        
    });
     
    
</script>
</head>

<body  ng-app="kuchModule" ng-controller="kuchController">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">Navbar</span>
        </div>
    </nav>
    <div>
        <center>
            <h3> Player Information</h3>
        </center>

    </div>
    <input type="button" value="players" ng-click="doFetchings();" />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Sr no</th>
                <th scope="col">emailid</th>
                <th scope="col">pic</th>
                <th scope="col">pic</th>
                <th scope="col">name</th>
                <th scope="col">gender</th>
                <th scope="col">date of birth</th>
                
                <th scope="col">address</th>
                <th scope="col">contact</th>
                <th scope="col">game</th>
               
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="obj in jsonArray">
                <td>{{$index+1}}</td>
                <td>{{obj.emailid}}</td>
                <td>{{obj.acardpicurl}}</td>
                <td>{{obj.profilepic}}</td>
                <td>{{obj.name}}</td>
                <td>{{obj.gender}}</td>
                <td>{{obj.dob}}</td>
                <td>{{obj.address}}</td>
                 <td>{{obj.fee}}</td>

                <td>{{obj.contact}}</td>
                <td>{{obj.game}}</td>
                








    </table>

</body>

</html>